<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./style.css">

  <title>Techno</title>
</head>
<body>
  <div id="app">
    <!-- HEADER -->
    <header class="header">
      <img class="logo" src="./assets/techno.svg" alt="Techno">
      <div class="cart_menu" @click="cartActive = true">{{cartTotal | priceTreatment }} | {{cart.length}}</div>
    </header>

    <!-- PRODUCTS -->
    <section class="products">
      <div 
        v-for="product in products" 
        :key="product.id"
        @click="showModal(product.id)"
        class="product">
        <img :src="product.img" alt="product.nome" class="product_img" />
        <div class="product_info">
          <span class="product_price">{{product.preco | priceTreatment}}</span>
          <h2 class="product_title">{{product.nome}}</h2>
        </div>
      </div>
    </section>

    <!-- MODAL PRODUCT -->
    <section class="modal" @click="closeModal" v-if="product">
      <div class="modal_container">
        <div class="modal_img">
          <img :src="product.img" :alt="product.nome" />
        </div>
        <div class="modal_data">
          <button class="modal_close" @click="product=false">X</button>
          <span class="modal_price">{{product.preco | priceTreatment}}</span>
          <h2 class="modal_title">{{product.nome}}</h2>
          <p> {{product.descricao}}</p>
          <button v-if="product.estoque > 0" class="modal_btn" @click="addItem">Adicionar item</button>
          <button v-else class="modal_btn sold-off" disabled>Produto esgotado</button>
        </div>
        <div class="reviews">
          <h2 class="review_subtitle">Avaliações</h2>
          <ul>
            <li v-for="review in product.reviews" class="review">
              <p class="review_description">{{review.descricao}}</p>
              <p class="review_user">{{review.nome}} | {{review.estrelas}} estrelas</p>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <!-- CART -->
    <section class="cart_modal" :class="{active: cartActive}" @click="closeModalCart">
      <div class="cart_container">
        <button class="cart_close" @click="cartActive = false">X</button>
        <h2 class="cart_title">Carrinho</h2>
        <div v-if="cart.length > 0">
          <ul class="cart_list">
            <li class="cart_item" v-for="(item, index) in cart">
              <p>{{item.nome}}</p>
              <p class="cart_price">{{item.preco | priceTreatment}}</p>
              <button class="cart_remove" @click="removeItem(index)">X</button>
            </li>
          </ul>
          <p class="cart_total">{{cartTotal | priceTreatment}}</p>
          <button class="cart_checkout">Finalizar compra</button>
        </div>
        <p v-else>O carrinho está vazio.</p>
      </div>
    </section>


    <!-- ALERT-->
    <div class="alert" :class="{active: alertActive}">
      <p class="alert_msg">{{ alertMsg }}</p>
    </div>
  </div>

  <script src="./vue.min.js"></script>
  <script src="./app.js"></script>
</body>
</html>